* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: #fff;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

/* header */

#header {
  width: 100%;
  height: 100vh;
  padding: 30px 50px 30px 50px;
  background-image: url(./image/bg-img.png);
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
  background-color: #000008;
  object-fit: cover;
}

/* .container{
    padding: 10px 10%;
    margin-top: 2px;
    border: 2px solid #17f74b;
 } */

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 10px 0;
  width: 100%;
  height: 15vh;
  position: sticky;
  top: 0;
  z-index: 1000;
  overflow: hidden;
  background-image: radial-gradient(
    circle 427px at 51.8% 56.2%,
    rgba(0, 122, 255, 1) 0%,
    rgba(0, 51, 102, 1) 64.4%
  );
}

.logo {
  width: 100px;
  padding-left: 20px;
}

nav ul {
  display: flex;
  gap: 30px;
  list-style: none;
  padding-right: 20px;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  position: relative;
}

nav ul li a::after {
  content: "";
  width: 0;
  height: 3px;
  background: #00a6fb;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}

nav ul li a:hover::after {
  width: 100%;
}

.header-text {
  margin-top: 15%;
  margin-left: 10%;
  font-size: 30px;
  max-width: 40%;
}

.header-text h1 {
  font-size: 40px;
  margin-top: 20px;
}

.header-text h1 span {
  color: #00a6fb;
}

.header-text p {
  font-size: 30px;
  margin-top: 10px;
}

/* About */

#about {
  padding: 80px 0;
  color: whitesmoke;
  height: 500px;
  margin: 20px 20px;
}

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: auto;
}

.about-col-1 {
  flex-basis: 35%;
  padding-left: 100px;
}

.about-col-1 img {
  width: 60%;
  border-radius: 15px;
  height: 400px;
  max-height: 400px;
}

.about-col-2 {
  flex-basis: 65%;
  padding-right: 50px;
}

.about-col-2 p {
  margin: 2px;
  font-size: 20px;
  line-height: 30px;
}
.about-col-2 p span {
  color: #00a6fb;
  font-weight: 600;
}

.sub-title {
  font-size: 40px;
  font-weight: 600;
  color: #fff;
}

.tab-titles {
  display: flex;
  gap: 40px;
}

.tab-links {
  margin: 50px 200px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}

.tab-links::after {
  content: "";
  width: 0;
  height: 3px;
  background: #00a6fb;
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
}

.tab-links.active-link::after {
  width: 50%;
}

.tab-contents ul li {
  list-style: none;
  margin: 20px 0;
}

.tab-contents ul li span {
  color: #006494;
  font-size: 14px;
  margin-bottom: 2px;
}

.tab-contents {
  display: none;
}

.tab-contents.active-tab {
  display: block;
}

/* Services */

#services {
  padding: 30px 30px;
  margin: 20px 20px;
}

.services-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
  margin-top: 50px;
}

.services-list div {
  background: #262626;
  padding: 40px;
  font-size: 13px;
  font-weight: 300;
  border-radius: 10px;
  margin: 0 10px;
  transition: background 0.5s, transform 0.5s;
}

.services-list div i {
  font-size: 50px;
  margin-bottom: 30px;
}

.services-list div h2 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 15px;
}

.services-list div a {
  text-decoration: none;
  color: #fff;
  font-size: 12px;
  margin-top: 20px;
  display: inline-block;
}

.services-list div:hover {
  background: #00a6fb;
  transform: translateY(-10px);
}

/* Portfolio */

#portfolio {
  padding: 50px 30px;
  margin: 20px 20px;
}

.work-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
  margin-top: 50px;
}

.work {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.work img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  display: block;
  transition: transform 0.5s;
}

.layer {
  width: 100%;
  height: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.6), #00a6fb);
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  font-size: 14px;
  transition: height 0.9s;
}

.layer h3 {
  font-weight: 500;
  margin-bottom: 20px;
}

.layer a {
  margin-top: 20px;
  color: #00a6fb;
  text-decoration: none;
  font-size: 18px;
  line-height: 60px;
  background: #fff;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
}

.work:hover img {
  transform: scale(1.1);
}

.work:hover .layer {
  height: 100%;
}

.btn {
  display: block;
  margin: 50px auto;
  width: fit-content;
  border: 1px solid #00a6fb;
  padding: 14px 50px;
  border-radius: 6px;
  text-decoration: none;
  color: #fff;
  transition: background 0.5s;
}

.btn:hover {
  background: #00a6fb;
}

/* -------------Contact---------------- */

.contact-left {
  flex-basis: 35%;
  padding-left: 50px;
}

.contact-right {
  flex-basis: 60%;
  padding-right: 50px;
}

.contact-left p {
  margin-top: 30px;
}

.contact-left p i {
  color: #00a6fb;
  margin-right: 15px;
  font-size: 25px;
}

.contact-left p,
a {
  color: #00a6fb;
  text-decoration: none;
}

.social-icons {
  margin-top: 30px;
}

.social-icons a {
  text-decoration: none;
  font-size: 30px;
  margin-right: 15px;
  color: #ababab;
  display: inline-block;
  transition: transform 0.5s;
}

.social-icons a:hover {
  color: #00a6fb;
  transform: translateY(-5px);
}

.btn.btn2 {
  display: inline-block;
  background: #00a6fb;
}
.btn2 {
  margin-top: 100px;
}
.btn2:hover {
  background: #006494;
}

.contact-right form {
  width: 100%;
}

form input,
form textarea {
  width: 100%;
  border: 0;
  outline: none;
  background: #262626;
  padding: 15px;
  margin: 15px 0;
  color: #fff;
  font-size: 18px;
  border-radius: 6px;
}

form .btn2 {
  padding: 14px 60px;
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 90px;
  cursor: pointer;
}

.footer {
  width: 100%;
  text-align: center;
  padding: 25px 0;
  background-image: radial-gradient(
    circle 427px at 51.8% 56.2%,
    rgba(0, 122, 255, 1) 0%,
    rgba(0, 51, 102, 1) 64.4%
  );
  font-weight: 300;
  margin-top: 20px;
  /* position: fixed;
  bottom: 0; */
}

nav .fa-solid {
  display: none;
}

/* --------------------CSS for small screen------------------------- */

@media only screen and (max-width: 600px) {
  .header-text {
    margin-top: 100%;
    font-size: 16px;
  }
  .header-text h1 {
    font-size: 20px;
    width: 200px;
  }
  .header-text p {
    font-size: 12px;
    width: 200px;
  }
  nav .fa-solid {
    display: block;
    font-size: 25px;
    margin-right: 10px;
    color: #00a6fb;
  }
  nav ul {
    background: #00a6fb;
    position: fixed;
    top: 0;
    right: -200px;
    width: 200px;
    height: 100vh;
    padding-top: 50px;
    z-index: 2;
    transition: right 0.5s;
  }
  nav ul li {
    display: block;
    margin: 25px;
  }

  nav ul .fa-solid {
    position: absolute;
    top: 25px;
    left: 25px;
    cursor: pointer;
    color: #fff;
  }

  .about-col-1 img {
    width: 1000%;
    border-radius: 15px;
    height: 200px;
    max-height: 200px;
  }
}
